.jumbotron {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 30px;
}

h2{
	font-weight: bold;
	font-size: 25px;
}

.modal-header , .modal-body{
    border-bottom: 0px;
}

.modal-body{
    font-size: 15px;
}