@{
    ViewBag.Title = "Execution";
    Layout = "~/Views/Shared/_AssesmentLayout.cshtml";
}

@section css{
    <!-- Custom CSS -->
    <link href="/css/shop-homepage.css" rel="stylesheet">
}

<!-- Page Content -->
<div class="container">

    <div class="row">

        <div class="col-md-3">
            <p class="lead">
                <img id="company_logo" src="" style="visibility: hidden" />
            </p>
            Pruebas
            <div id="sections" class="list-group">
            </div>

            <div id="duration">

            </div>
        </div>

        <div class="col-md-9">

            <!-- Header -->
            <header >
                <h3 id="title"></h3>
                <h4 >50% Completado - Pregunta 1 de 2</h4>
            </header>

            <h3 class="mark">1.¿Qué te ha gustado más?</h3>

        </div>

    </div>

</div>
<!-- /.container -->

@section scripts{

    <script>

        var sectionTemplate = '<a href="#" class="list-group-item">_section_name</a>';
        var controllerName = "Assesment";

        function getSections(evaluationID) {

            ajaxPost("Evaluation", "GetSections", { evaluationID: evaluationID }, function (success, data) {

                console.log(data);

                if (success) {

                    if (data && data.length > 0) {

                        var totalDuration = 0;
                        for (var i = 0; i < data.length; i++) {

                            var sectionText = sectionTemplate.replace("_section_name", data[i].Name);

                            $("#sections").append(sectionText);

                            if (data[0].EstimatedDuration) {
                                totalDuration = totalDuration + data[i].EstimatedDuration;
                            }
                        }

                        $("#duration").css("visibility", "visible");
                        $("#duration").html("Duración: " + totalDuration + " horas");
                    }

                }
            });
        }

        //Data Retrieved - Session Data
        function handleAssementDataRetrieved(e) {

            var data = e.detail.data;
            var success = e.detail.success;

            console.log(data);

            if (success) {

                var title = data.Evaluation.Name + " - " + data.Company.Name;

                if (data.Company.Logo && data.Company.Logo.length > 0) {

                    title = data.Evaluation.Name;

                    $("#company_logo").attr("src", "/img/" + data.Company.Logo);
                    $("#company_logo").css("visibility", "visible");
                }

                $("#title").html(title);
                $("#company_name").html(data.Company.Name);
                $("#btnContinue").css("visibility", "visible");

                getSections(data.ID);
            }

        }

        $(document).ready(function () {

            $("#btnContinue").on("click", function () {
                location.href = "/" + controllerName + "/Execution";
            });

        });
    </script>

}