@{
    ViewBag.Title = "Execution";
    Layout = "~/Views/Shared/_AssesmentLayout.cshtml";
}

@section css{
    <!-- Custom CSS -->
    <link href="/css/shop-homepage.css" rel="stylesheet">
}

<!-- Page Content -->
<div class="container">

    <div class="row">

        <div class="col-md-3">
            <p class="lead">
                <img id="company_logo" src="" style="visibility: hidden" />
            </p>
            
            <div id="sections" class="list-group">
            </div>

            <hr />

            <p>Pregunta <span id="questionIndex"></span> de <span id="totalQuestions"></span></p>

            <p>
                Te quedan <span id="minutesLeft"></span> minutos
            </p>
        </div>

        <div class="col-md-9">

            <!-- Header -->
            <header>
                <p id="title"></p>

            </header>

            <h3 id="questionText" class="mark"></h3>

        </div>

    </div>

</div>
<!-- /.container -->

@section scripts{

    <script>

        var sectionTemplate = '<a id="section_id_num" href="#" class="list-group-item">_section_name</a>';
        var controllerName = "Assesment";

        function showSectionData(data) {

            if (data && data.length > 0) {

                var totalDuration = 0;
                for (var i = 0; i < data.length; i++) {

                    var sectionText = sectionTemplate.replace("_section_name", data[i].Name)
                    .replace("_num", i+1);

                    $("#sections").append(sectionText);

                    if (data[0].EstimatedDuration) {
                        totalDuration = totalDuration + data[i].EstimatedDuration;
                    }
                }

                //$("#duration").css("visibility", "visible");
                //$("#duration").html("Duración: " + totalDuration + " horas");
            }
        }

        function getContextInfo() {
            ajaxPost(controllerName, "GetContext", {}, function (success, data) {

                console.log(data);

                if (success) {
                    if (data && data.CurrentSectionQuestions) {
                        $("#questionText").html(data.QuestionIndex + ". " + data.CurrentSectionQuestions[data.QuestionIndex - 1].Text);
                        $("#questionIndex").html(data.QuestionIndex);
                        $("#totalQuestions").html(data.CurrentSectionQuestions.length);
                        $("#minutesLeft").html(data.MinutesLeft);
                        $("#section_id" + data.SectionIndex).addClass("active");
                    }
                }
            });
        }

        //Data Retrieved - Session Data
        function handleAssementDataRetrieved(e) {

            var data = e.detail.data;
            var success = e.detail.success;

            console.log(data);

            if (success) {

                var title = data.Evaluation.Name + " - " + data.Company.Name;

                if (data.Company.Logo && data.Company.Logo.length > 0) {

                    title = data.Evaluation.Name;

                    $("#company_logo").attr("src", "/img/" + data.Company.Logo);
                    $("#company_logo").css("visibility", "visible");
                }

                $("#title").html(title);
                $("#company_name").html(data.Company.Name);
                $("#btnContinue").css("visibility", "visible");

                showSectionData(data.Evaluation.Sections);

                getContextInfo();
            }

        }

        $(document).ready(function () {

            $("#btnContinue").on("click", function () {
                location.href = "/" + controllerName + "/Execution";
            });

        });
    </script>

}