@model ProfessionalEvaluation.Website.Controllers.MesssageTO

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Pdf Test</title>
</head>
<body>
    <div>
        @Model.Text
    </div>
</body>
</html>
