<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Database" value="Server=localhost;Database=pro_evaluation;Uid=root;Pwd=12345;" />
    <add key="FromEmailAccount" value="mauricio.bedoya@gmail.com" />
    <add key="FromEmailAccountName" value="Laboru Tech" />
    <add key="FromEmailAccountPassword" value="mauricio12*12" />
    <add key="MailHost" value="localhost" />
    <add key="PdfGenerationPath" value="C:\Temp\" />
    <add key="SiteFilesPath" value="C:\Temp\" />
  </appSettings>  
</configuration>